@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="loginnav">
    <li class="nav-item">
         <a href="/Cart/GetUserCart"><i style="color: black;" class="fa-solid fa-bag-shopping"></i></a>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hello <span id="username">@User.Identity?.Name</span>!
                @if (User.IsInRole("Admin"))
                {
                    <span>(Admin)</span>
                }
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

<style>
    .loginnav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logout-btn{
        background-color: transparent;
        color: #000;
        border: none;
    }
</style>

