@page
@model DoAnWebNangCao.Pages.Contact.ContactModel
@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<section id="page-header" class="about-header">
    <h2>#Let's Talk</h2>
    <p>Leave a message, We love to hear from you!</p>
</section>

<section id="contact-details" class="section-p1">
    <div class="details">
        <span>Get In Touch</span>
        <h2>Visit one of our agency location or contact us today</h2>
        <h3>Head Office</h3>
        <div>
            <li>
                <i class="fa-solid fa-map"></i>
                <p>56 Glassford Street Glasgow G1 !UL New York </p>
            </li>
            <li>
                <i class="fa-solid fa-envelope"></i>
                <p>contact@gmail.com</p>
            </li>
            <li>
                <i class="fa-solid fa-phone"></i>
                <p>+848793469</p>
            </li>
            <li>
                <i class="fa-solid fa-clock"></i>
                <p>Monday to Saturday: 9.00am to 16.00pm </p>
            </li>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14895.741409133225!2d105.7859721779823!3d21.035272565913775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1710768815538!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

<section id="from-details">
    <form action="">
        <span>Leave A Message</span>
        <h2>We love to hear from you</h2>
        <input type="text" placeholder="Your Name" name="" id="">
        <input type="email" placeholder="e-mail" name="" id="">
        <input type="text" placeholder="subject" name="" id="">
        <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
        <button class="normal">Submit</button>
    </form>
    <div class="people">
        <div>
            <img src="../img/people/1.png" alt="">
            <p>
                <span>John Doe</span> Senior Marketing Manager <br> Phone: + 000 123
                000 77 88 <br>Email: contact@example.com
            </p>
        </div>
        <div>
            <img src="../img/people/2.png" alt="">
            <p>
                <span>John Doe</span> Senior Marketing Manager <br> Phone: + 000 123
                000 77 88 <br>Email: contact@example.com
            </p>
        </div>
        <div>
            <img src="../img/people/3.png" alt="">
            <p>
                <span>John Doe</span> Senior Marketing Manager <br> Phone: + 000 123
                000 77 88 <br>Email: contact@example.com
            </p>
        </div>
    </div>
</section>