@page
@model DoAnWebNangCao.Pages.Abouts.AboutModel
@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<section id="page-header" class="about-header">
    <h2>#Know Us</h2>
    <p>Read all case studies about our products!</p>
</section>

<section id="about-head" class="section-p1">
    <img src="../img/about/a6.jpg" alt="">
    <div>
        <h2>Who We Are?</h2>
        <p>
            Learn How To Make Full Responsive Ecommerce Website Using HTML CSS & JavaScript.
            This is a free HTML CSS Course. And in this course we will learn how to build and
            deploy a full multipage ecommerce website completely from scratch step by step.
        </p>
        <abbr title="">
            How to use common components and layout patterns for professional website
            design and development.
        </abbr>
        <br><br>
        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">
            If you enjoyed this video, then please please 👍LIKE
            and SUBSCRIBE this channel & press the bell icon for future videos.
        </marquee>
    </div>
</section>

<section id="about-app" class="section-p1">
    <h1>Download Our <a href="#">App</a></h1>
    <div class="video">
        <video autoplay muted loop src="../img/about/1.mp4"></video>
    </div>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="../img/features/f1.png" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="../img/features/f2.png" alt="">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="../img/features/f3.png" alt="">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="../img/features/f4.png" alt="">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="../img/features/f5.png" alt="">
        <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
        <img src="../img/features/f6.png" alt="">
        <h6>24/7 Support</h6>
    </div>
</section>
